.completed {
	text-decoration: line-through;
	color: gray;
}
.not {
	text-decoration: underline;
}

.card {
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	padding: 1rem;
}

.alert-danger {
	color: red !important;
}

.todo {
	font-size: 20px !important;
}
