body {
	margin-bottom: 15px !important;
}
.completed {
	text-decoration: line-through;
	color: gray;
}
.not {
	text-decoration: underline;
}

.card {
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	padding: 1rem;
}

.alert-danger {
	color: red !important;
}

.todo {
	font-size: 20px !important;
}

.timer,
.tasks,
.logout {
	margin: 0 auto !important;
}

.tasks,
.logout {
	margin-top: 20px !important;
}

.task-input {
	margin-top: 20px;
}

.task {
	text-align: justify !important;
}

.logout-btn {
	width: 90%;
}
